/* === FUENTE === */
@font-face {
  font-family: "NohemiVar";
  src: url("/fonts/Nohemi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NohemiVar", sans-serif;
  background-color: #f2f2f2; /* como el fondo del PDF */
}

/* === HEADER === */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  padding: 0 20px;
}

.header.show {
  transform: translateY(0);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* contenedor a la derecha */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right .icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: black;
}

/* === HERO === */
.hero {
  position: relative;
  height: 100vh;
  background: url('/modelo2.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero-logo {
  font-weight: bold;
  color: white;
  transition: all 0.8s ease;
}



.hero-subtitle {
  font-size: 1.5rem;
  letter-spacing: 4px;
  color: white;
  z-index: 1;
}

.fade-out {
  opacity: 0;
}



footer a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}
